body {
	background: lightblue;
	/*background-image: url('./wall.jpg');*/
	background-repeat: repeat;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.gamearea {
	width:800px;
}

#hiscoretable {
	width: 350px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

canvas {
	border: 1px solid black;
}